h1 {
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 3rem;
    }

p {
    text-align: center;
    color: blue;
}img src


span {
    color: green;
}


head



style type :"text/css">
body {
   
}


.best {
    color: aqua;
}

a {
    color: blueviolet;
    display: flex;
    background-color: white;
    padding-top: 1rem;
    margin-left: 25rem;

}