h3{
    color:black;
}
#pink
{
    color:pink;
}
#decorate
{
    padding:30px;
    background: linear-gradient( lightgreen, #27ae60 );
    border-radius: 40px;
}   
a
{
    background: linear-gradient( lightgreen, #27ae60 );
    padding:15px;
    border-radius:40px;
    color:white;
    background-color:green;
}